.header
  padding-top: 2.285rem
  padding-bottom: 25rem
  background: $light url('../img/header-bg.jpg') no-repeat left top
  height: auto
.menu
  display: flex
  align-items: center
  justify-content: space-between
  max-width: 100%
.logo
  display: flex
  align-items: center
  &-link
    display: flex
    align-items: center
    text-decoration: none
    color: #38393b
    font-family: 'Ubuntu' , sans-serif
    font-size: 1.857rem
    font-weight: 700
    line-height: 1.357rem
    text-transform: uppercase
    letter-spacing: 1.02px
    &__text
      margin-left: 1rem
      letter-spacing: 0.2px
.nav
  display: flex
  align-items: center
  // margin-left: 13rem
  &__item
    text-decoration: none
    color: $dark
    font-family: 'Ubuntu' , sans-serif
    font-size: 1.142857rem
    font-weight: 300
    line-height: 37.33px
    margin-right: 1.8rem
.contacts
  display: flex
  align-items: center
  &__phone
    color: $dark
    text-decoration: none
    color: #38393b
    font-family: Ubuntu
    font-size: 1.2857rem
    font-weight: 500
    line-height: 37.33px
    margin-right: 3.185rem
  &__button
    padding: 15px 30px 17px 32px
.hero
  padding-top: 18.7rem
  max-width: 100%
  &-text
    max-width: 44.2857rem
  &__title
    color: $dark
    font-family: 'Ubuntu' , sans-serif
    font-size: 4.42857rem
    font-weight: 700
    line-height: 76px
    letter-spacing: -3.1px
    margin-bottom: 2.75rem
    margin-left: -0.5rem
    &--primary
      letter-spacing: -2.8px
      color: $primary
  &__discription
    max-width: 41.2rem
    color: $dark
    font-family: 'Ubuntu' , sans-serif
    font-size: 1.4285rem
    font-weight: 300
    line-height: 2.1rem
    // padding-left: 0.4rem
    margin-bottom: 2.75rem
  &__button
    // margin-left: 0.5rem
    padding: 17px 42px 20px 38px


